[submodule ".vim/autoload/vim-plug"]
	path = .vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "requirements/xtitle"]
	path = .yadm/submodules/xtitle
	url = https://github.com/baskerville/xtitle.git
[submodule "requirements/xdo"]
	path = .yadm/submodules/xdo
	url = https://github.com/baskerville/xdo.git
[submodule "requirements/sxhkd"]
	path = .yadm/submodules/sxhkd
	url = https://github.com/baskerville/sxhkd.git
[submodule "requirements/bspwm"]
	path = .yadm/submodules/bspwm
	url = https://github.com/baskerville/bspwm.git
[submodule "requirements/bar"]
	path = .yadm/submodules/bar
	url = https://github.com/krypt-n/bar.git
