[submodule ".vim/autoload/vim-plug"]
	path = .vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".config/nvim/autoload/vim-plug"]
	path = .config/nvim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".config/nvim/deoplete.nvim"]
	path = .config/nvim/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
